.nav-bar{
    position:fixed;
    height: 100%;
    width:7%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    transition: 0.3s;
    float:left;
    z-index:18;
    
}
.nav-bar:hover{
    box-shadow:75px 0 150px 150px #080808a0;
}
main{
    height: 100vh;
    width: 100vw;
}
 *{
margin: 0;
box-sizing: border-box;

} 
.nav-items{
    color: white;
    height:max-content;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    text-align: center;
}
.nav-item{
    position: relative;
    padding-block: 0.8rem;
    transition: 0.1s;
    width: 100%;
}
.nav-item:hover{
    font-weight: bolder;
    transform: scale(1.1);
}
.nav-item::after{
    position:absolute;
    content: attr(name);
    width: 10rem;
    height: 100%;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 2rem;
    transition: 0.3s;
    color: #fff0;
    transform: translateX(-25%);
}
.nav-items:hover .nav-item::after{
    color: #ffff;
    transform: translateX(0);
}
.logo-container{
    position:absolute;
    left:15px;
    padding-top: 2rem;
    padding-left: 0.7rem;
}
.logo-container img{
    transform: scale(1.5);
}
.aeg{
    position:fixed;
    height:100%;
    width:93%;
    z-index:-1;
    left:100px;
}
.jailerpic{
    position:absolute;
    top:750px;
    left:130px;
    z-index:15 !important;
}
.newrpic{
    height:200px;
    width:150px;
}
.jawanpic{
    position:absolute;
    top:750px;
    left:300px;
    z-index:15 !important;
}
.thorpic{
    position:absolute;
    top:750px;
    left:475px;
    z-index:15 !important;
}
.mavepic{
    position:absolute;
    top:750px;
    left:650px;
    z-index:15 !important;
}
.alonepic{
    position:absolute;
    top:750px;
    left:830px;
    z-index:15 !important;
}
.dppic{
    position:absolute;
    top:750px;
    left:1010px;
    z-index:15 !important;
}
.indpic{
    position:absolute;
    top:750px;
    left:1190px;
    z-index:15 !important;
}
.sipic{
    position:absolute;
    top:750px;
    left:1370px;
    z-index:15 !important;
}
.head1{
    color:white;
    position:absolute;
    top:710px;
    left:130px;
    font-size:23px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    z-index:11;
}
.newrpic:hover{
    transform:scale(1.4);
    transition:0.3s;
    transition-delay:0.2;
}
.aeglogo{
    color: white;
    font-size:50px;
    position:absolute;
    top:330px;
    left:130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.aeglogo::first-letter{
    font-size: 110px;
}
.scroll{
    z-index:18;
    height: 180%;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.122),rgba(0, 0, 0, 0.878),black);
}
.discr{
    color:white;
    position:absolute;
    top:450px;
    left:190px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:18px;
    word-spacing:45px;
}
.about{
    color:white;
    width:500px;
    position:absolute;
    top:480px;
    left: 130px;
    text-align:left;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
button{
    background-color: rgba(255, 255, 255, 0.096);
    color: white;
    border:1px solid white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius:10px;
    height:50px;
}
button:hover{
    transform:scale(1.1);
    background-color: rgba(255, 255, 255, 0.171);
}
.b1{
    width:360px;
    position:absolute;
    top:630px;
    left: 130px;
}
.b2{
    width:50px;
    position:absolute;
    top:630px;
    left: 510px;
}
.head2{
    color:white;
    position:absolute;
    top:1010px;
    left:130px;
    font-size:23px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    z-index:14;
}
.secrow{
    position: absolute;
    top:300px;
}
.tanpic{
    position:absolute;
    top:750px;
    left:130px;
    z-index:15 !important;
}
.ratpic{
    position:absolute;
    top:750px;
    left:300px;
    z-index:15 !important;
}
.iopic{
    position:absolute;
    top:750px;
    left:475px;
    z-index:15 !important;
}
.bravepic{
    position:absolute;
    top:750px;
    left:650px;
    z-index:15 !important;
}
.uppic{
    position:absolute;
    top:750px;
    left:830px;
    z-index:15 !important;
}
.lucapic{
    position:absolute;
    top:750px;
    left:1010px;
    z-index:15 !important;
}
.mupic{
    position:absolute;
    top:750px;
    left:1190px;
    z-index:15 !important;
}
.redpic{
    position:absolute;
    top:750px;
    left:1370px;
    z-index:15 !important;
}
